:host {
    --content-padding: 10px;
  }
  .content {
    padding: var(--content-padding);
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: var(--layer1);
    color: var(--offWhiteText);
  }

  .mat-closeColor{
    background-color: var(--layer5) !important;
  }

  .container {
    height: 75px;
    position: relative;
    margin-bottom: -20px;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--offWhiteText);
  }

  dd {
    margin-left: 20px;
    margin-bottom: 15px;
  }

  .customContainer {
    width: 90%;
    margin:auto;
    align-items: center;
  }

  .topContain {
    margin-top: 10px;
  }

  .fullBack {
    background-color: var(--layer0);
  }
