<div *ngIf="game?.homeTeam != 'timeSplit'">
  <mat-card class="cardListItem mat-elevation-z8" *ngIf="game?.completed == false"
  style="background: url({{homeLogo}}) right no-repeat, url({{awayLogo}}) 
  left no-repeat; background-size: 40% auto; background-color: var(--layer2); padding: 15px;">
    <mat-card-content>
        <div class="cardListText">
        <p>{{game?.awayAbbrRank}} at {{game?.homeAbbrRank}}</p>
        <p>{{game?.conferences}}</p>
        <p>{{game?.startDate}}</p>
        <p>{{game?.startTime}}</p>
        <p>ATS: {{game?.currSpread}}</p>
        <p>O/U: {{game?.currTotal}}</p>
        <p>ML: {{game?.moneyline}}</p>
        </div>
        <mat-card-actions class="example-action">
          <button class="buttonSpace" mat-raised-button color="customColor" (click)="popviewService.open(game?.gameID)">QUICK LOOK</button>
          <mat-divider></mat-divider>
          <button mat-raised-button color="customColor" (click)="pageLink()">FULL PREVIEW</button>
        </mat-card-actions>
        <app-pop-view [id]='game?.gameID'>
          <h1 style="text-align: center;">{{game?.awayTeamRank}} vs {{game?.homeTeamRank}}</h1>
          <app-preview-content [gameID]="game?.gameID" style="background-color: var(--layer3)"></app-preview-content>
            <div class="container">
              <div class="center">
                <button mat-raised-button color="closeColor" (click)="popviewService.close()">Close</button>
              </div>
            </div>
        </app-pop-view>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="game?.homeTeam == 'timeSplit'">
  <div *ngIf="game?.gameID == 'WeekGamesSlate'">
    <mat-card class="cardListItem mat-elevation-z8 dividers" *ngIf="game?.completed == false">
      <mat-card-content class="matCardContent">
          <div class="cardListText">
          <p>Week Games Slate</p>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="game?.gameID == 'EarlySlate'">
    <mat-card class="cardListItem mat-elevation-z8 dividers" *ngIf="game?.completed == false">
      <mat-card-content class="matCardContent">
          <div class="cardListText">
          <p>Early Slate</p>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="game?.gameID == 'AfternoonSlate'">
    <mat-card class="cardListItem mat-elevation-z8 dividers" *ngIf="game?.completed == false">
      <mat-card-content class="matCardContent">
          <div class="cardListText">
          <p>Afternoon Slate</p>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="game?.gameID == 'PrimetimeSlate'">
    <mat-card class="cardListItem mat-elevation-z8 dividers" *ngIf="game?.completed == false">
      <mat-card-content class="matCardContent">
          <div class="cardListText">
          <p>Primetime Slate</p>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="game?.gameID == 'LateSlate'">
    <mat-card class="cardListItem mat-elevation-z8 dividers" *ngIf="game?.completed == false">
      <mat-card-content class="matCardContent">
          <div class="cardListText">
          <p>Late Night Slate</p>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>



